<!-- Load template html -->
{% extends "./base.html" %}

<!-- Title -->
{% block title %}Inventory | Haylà{% endblock %}


<!-- [ breadcrumb ] start -->
{% block breadcrumb %}
<div class="col-md-12">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="javascript: void(0)">Operation</a></li>
    <li class="breadcrumb-item" aria-current="page">Inventory</li>
  </ul>
</div>

<div class="col-md-12">
  <div class="page-header-title">
    <h2 class="mb-0">Inventory</h2>
  </div>
</div>
{% endblock %}
<!-- [ breadcrumb ] end -->


<!-- [ Main Content ] start -->
{% block main_content %}

{% set lst_tabname = ['summary', 'items'] %}

<ul class="nav nav-pills p-2" id="pills-tab" role="tablist">

  {% for tabname in lst_tabname %}

    <li class="nav-item">
      <a class="nav-link {{ 'active' if tabname == 'summary' else '' }}" id="pills-{{ tabname }}-tab"
         data-bs-toggle="pill" href="#pills-{{ tabname }}" role="tab" aria-controls="pills-{{ tabname }}"
         aria-selected="true">

        {{ tabname|capitalize }}

      </a>
    </li>

  {% endfor %}

</ul>


<div class="tab-content" id="pills-tabContent">

  {% for tabname in lst_tabname %}

    <div class="tab-pane fade show {{ 'active' if tabname == 'summary' else '' }}" id="pills-{{ tabname }}"
         role="tabpanel" aria-labelledby="pills-{{ tabname }}-tab">

      <div class="row">

        {% if tabname == 'items' %}

          <div class="col-sm-12">
            <div class="card table-card">

              <div class="card-header">
                <div class="text-end">
                  <a href="#" class="btn btn-primary d-inline-flex align-item-center" data-bs-toggle="modal" data-bs-target="#inventory-add-items-modal">
                    <i class="ti ti-plus f-18"></i>Add
                  </a>
                </div>
              </div>

              <div class="card-body table-border-style">

                <div class="table-responsive">
                  <table class="table table-hover table-sm" id="dt-inventory-items">

                    <thead>
                      <tr>
                        <th>Name</th>
                        <th class="text-center">Location</th>
                        <th class="text-center">Quanty</th>
                        <th class="text-center">Date</th>
                        <th></th>
                      </tr>
                    </thead>

                    <tbody>

                      {% for item in lst_inv %}

                        <tr data-id="{{ item.id }}">
                          <td>
                            <div class="row">
                              <div class="col">
                                <h6 class="mb-0">{{ item.Raw_Ingredient_Name }}</h6>
                                <p class="text-muted f-12 mb-0">{{ item.Raw_Ingredient_ID }}</p>
                                <p class="text-muted f-12 mb-0">{{ item.email }}</p>
                              </div>
                            </div>
                          </td>

                          <td class="text-center"><span class="badge f-12 {{ 'bg-blue-500' if item.Location == 'SGN' else 'bg-orange-500' }}">{{ item.Location }}</span></td>

                          <td class="text-center">{{ "{:,.0f}".format(item.Qty) }} <p class="text-muted f-12 mb-0">x {{ item.Quanty }} {{ item.Unit }}</p></td>

                          <td class="text-center">{{ item.DateTime.strftime("%d/%m/%Y %H:%M") }}</td>

                          <td>
                            <ul class="list-inline me-auto mb-0">
                              <li class="list-inline-item align-bottom" data-bs-toggle="tooltip" title="Edit">
                                <a href="#" class="avtar avtar-xs btn-link-primary">
                                  <i class="ti ti-edit-circle f-18"></i>
                                </a>
                              </li>
                              <li class="list-inline-item align-bottom" data-bs-toggle="tooltip" title="Delete">
                                <a href="#" class="avtar avtar-xs btn-link-danger">
                                  <i class="ti ti-trash f-18"></i>
                                </a>
                              </li>
                            </ul>
                          </td>

                        </tr>

                      {% endfor %}

                    </tbody>

                  </table>

                </div>
              </div>
            </div>
          </div>

        {% else %}
          <!-- Tab Summary -->

          <div class="col-sm-12">
            <div class="card table-card">

              <div class="card-header">
                <h4>Total Quanty</h4>
              </div>

              <div class="card-body table-border-style">
                <div class="table-responsive">

                  <table class="table table-hover table-sm" id="dt-inventory-total-qty">

                    <thead>

                      <tr>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Quanty</th>
                        <th></th>
                      </tr>

                    </thead>

                    <tbody>

                      {% for item in dict_total_qty %}
                        <tr>
                          <td>
                            <div class="row">
                              <div class="col">
                                <h6 class="mb-0">{{ item['Raw_Ingredient_Name'] }}</h6>
                                <p class="text-muted f-12 mb-0">{{ item['Raw_Ingredient_ID'] }}</p>
                              </div>
                            </div>
                          </td>

                          <td><span class="badge f-12 {{ 'bg-blue-500' if item['Location'] == 'SGN' else 'bg-orange-500' }}">{{ item['Location'] }}</span></td>

                          <td>
                            {{ "{:,.0f}".format(item['TotalQty']) }} <p class="text-muted f-12 mb-0">x {{ item['Quanty'] }} {{ item['Unit'] }}</p>
                          </td>


                          <td>
                            <ul class="list-inline me-auto mb-0">
                              <li class="list-inline-item align-bottom" data-bs-toggle="tooltip" title="View">
                                <a href="#" class="avtar avtar-xs btn-link-secondary" data-bs-toggle="modal" data-bs-target="#cust-modal">
                                  <i class="ti ti-eye f-18"></i>
                                </a>
                              </li>
                            </ul>
                          </td>


                        </tr>
                      {% endfor %}

                    </tbody>

                  </table>

                </div>
              </div>
            </div>
          </div>

        {% endif %}

      </div>

    </div>

  {% endfor %}

</div>


<div class="modal fade" id="inventory-add-items-modal" data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">

  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">

    <div class="modal-content">

      <div class="modal-header">
        <h5 class="mb-0">Add Items</h5>
        <a href="#" class="avtar avtar-s btn-link-danger" data-bs-dismiss="modal">
          <i class="ti ti-x f-20"></i>
        </a>
      </div>

      <div class="mx-4 my-4 mt-2 mb-0">

        <div class="row">

          <div class="col-lg-6 col-sm-12">
            <select class="form-control" data-trigger name="inventory-item-name-choice" id="inventory-item-name-choice">
              <option value="">Name</option>
              {% for rig in dict_rig.values() %}
                <option value="{{ rig.Raw_Ingredient_ID }}">{{ rig.Raw_Ingredient_Name }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="col-lg-3 col-sm-12">
            <select class="form-control" data-trigger name="inventory-item-location-choice" id="inventory-item-location-choice">
              <option value="">Location</option>
              {% for loc in lst_loc %}
                <option value="{{ loc }}">{{ loc }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="col-lg-2 col-sm-12">
            <div class="w-100 btn-group btn-group-sm border" role="group">
              <button type="button" id="decrease" onclick="decreaseValue('inventory-item-qty')" class="btn btn-link-dark"><i class="ti ti-minus"></i></button>
              <input class="text-center border-0 form-control rounded-0 shadow-none" type="text" id="inventory-item-qty" value="0">
              <button type="button" id="increase" onclick="increaseValue('inventory-item-qty')" class="btn btn-link-dark"><i class="ti ti-plus"></i></button>
            </div>
          </div>

          <div class="col-lg-1 col-sm-12">
            <div class="text-end mb-3">
              <button type="button" id="inventory-item-add-btn" class="btn btn-outline-primary d-inline-flex"><i class="ti ti-plus me-1"></i>Add</button>
            </div>
          </div>

        </div>

      </div>


      <div class="modal-body">

        <div class="row">

          <div class="col-sm-12">

            <div class="card table-card">

              <div class="card-body table-border-style">

                <div class="table-responsive">

                  <table class="table table-hover table-sm" id="dt-inventory-add-items">

                    <thead>
                      <tr>
                        <th>Name</th>
                        <th style="width: 20%;">Location</th>
                        <th style="width: 15%;" class="text-center">Quanty</th>
                        <th style="width: 5%;"></th>
                      </tr>
                    </thead>

                    <tbody></tbody>

                  </table>

                </div>
              </div>
            </div>

          </div>

        </div>

      </div>

      <div class="modal-footer justify-content-between">
        <ul class="list-inline me-auto mb-0">
          <li class="list-inline-item align-bottom">
            <a href="#" class="avtar avtar-s btn-link-danger w-sm-auto" data-bs-toggle="tooltip" title="Delete">
              <i class="ti ti-trash f-18"></i>
            </a>
          </li>
        </ul>

        <div class="flex-grow-1 text-end">
          <button type="button" class="btn btn-link-danger" data-bs-dismiss="modal">Cancel</button>
          <button id="save-all" type="button" class="btn btn-primary" data-bs-dismiss="modal">Save</button>
        </div>

      </div>


    </div>
  </div>
</div>

{% endblock %}
<!-- [ Main Content ] end -->



{% block extra_scripts %}
<!--Latest 3.x version from jQuery CDN-->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"
  integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
  crossorigin="anonymous">
</script>

<script src="{{ request.url_for('static', path='js/plugins/choices.min.js') }}"></script>
<script src="{{ request.url_for('static', path='js/plugins/sweetalert2.all.min.js') }}"></script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var genericExamples = document.querySelectorAll('[data-trigger]');
    for (i = 0; i < genericExamples.length; ++i) {
      var element = genericExamples[i];
      new Choices(element, {
        placeholderValue: 'This is a placeholder set in the config',
        searchPlaceholderValue: 'This is a search placeholder',

        // turn off all automatic sorting:
        shouldSort: false,
        shouldSortItems: false,

      });
    }
  });
</script>

<script>
  // quantity start
  function increaseValue(temp) {
    var value = parseInt(document.getElementById(temp).value, 10);
    value = isNaN(value) ? 0 : value;
    value++;
    document.getElementById(temp).value = value;
  }

  function decreaseValue(temp) {
    var value = parseInt(document.getElementById(temp).value, 10);
    value = isNaN(value) ? 0 : value;
    value < 1 ? (value = 1) : '';
    value--;
    document.getElementById(temp).value = value;
  }
  // quantity end
</script>

<script>

  document.getElementById('inventory-item-add-btn').addEventListener('click', function() {

    const nameEl = document.getElementById('inventory-item-name-choice');
    const locEl = document.getElementById('inventory-item-location-choice');
    const qtyEl = document.getElementById('inventory-item-qty');

    const rig_id = nameEl.value;
    const location = locEl.value;
    const qty = parseInt(qtyEl.value, 10);

    if (!rig_id || !location || isNaN(qty) || qty <= 0) {
      alert('Please select item, location and enter a quantity > 0.');
      return;
    }

    const tbody = document.querySelector('#dt-inventory-add-items tbody');

    if (tbody.querySelector(`tr[data-id="${rig_id}"]`)) {
      alert('This item is already in the table.');
      return;
    }

    const json_rig = JSON.parse('{{ dict_rig | tojson | safe }}');
    const tr = document.createElement('tr');
    tr.dataset.id = rig_id;
    tr.dataset.loc = location;
    tr.dataset.qty = qty;

    tr.innerHTML = `
      <td>
        <div class="row">
          <div class="col">
            <h7 class="mb-0">${json_rig[rig_id].Raw_Ingredient_Name}</h7>
            <p class="text-muted f-12 mb-0">${rig_id}</p>
          </div>
        </div>
      </td>


      <td>${location}</td>
      <td class="text-center">${qty} <p class="text-muted f-12 mb-0">x ${json_rig[rig_id].Quanty} ${json_rig[rig_id].Unit}</p></td>

      <td>
        <a onclick="deleteRowByDataId('${rig_id}');" href="javascript:void(0)" class="avtar avtar-s btn-link-danger w-sm-auto" data-bs-toggle="tooltip" title="Delete">
          <i class="ti ti-trash f-18"></i>
        </a>
      </td>
    `;
    
    tbody.appendChild(tr);

    qtyEl.value = 0;
  });

  function deleteRowByDataId(dataId) {
    const row = document.querySelector(`tr[data-id="${dataId}"]`);
    if (!row) {
      console.warn(`No table row found with data-id="${dataId}"`);
      return;
    }
    row.remove();
  }

  $('#save-all').on('click', function() {

    const docs = [];

    $('#dt-inventory-add-items tbody tr').each(function() {
      const $tr = $(this);

      docs.push({
        Raw_Ingredient_ID: $tr.data('id'),
        Location: $tr.data('loc'),
        Qty: $tr.data('qty'),
      });
    });

    console.log(docs);

    Swal.fire({
      title: `Do you want to save all items?`,
      showDenyButton: true,
      showCancelButton: false,
      confirmButtonText: `Save`,
      denyButtonText: `Don't save`
    }).then((result) => {
      if (result.isDenied) {
        Swal.fire('Changes are not saved', '', 'info');
        return;
      } else if (result.isConfirmed) {

        $.ajax({
          url: '/operation/inventory/add-items',
          method: 'POST',
          contentType: 'application/json',
          data: JSON.stringify(docs),
          success: function(resp) {

            Swal.fire(`Items Saved!`, '', 'success').then(() => {
              window.location.reload();
            });
            
          },
          error: function(xhr, status, err) {
            console.error(err);
            Swal.fire('Changes are not saved. Please try again.', '', 'error');
          }
        });



      }
    });

  });


</script>


{% endblock %}







