<!-- Load template html -->
{% extends "./base.html" %}

{% set str_title = 'Receipt' %}

<!-- Title -->
{% block title %} {{ str_title ~ ' | Haylà' }} {% endblock %}


<!-- [ breadcrumb ] start -->
{% block breadcrumb %}
<div class="col-md-12">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="javascript: void(0)">Operation</a></li>
    <li class="breadcrumb-item" aria-current="page">{{ str_title }}</li>
  </ul>
</div>

<div class="col-md-12">
  <div class="page-header-title">
    <h2 class="mb-0">{{ str_title }}</h2>
  </div>
</div>

{% endblock %}
<!-- [ breadcrumb ] end -->


<!-- [ Main Content ] start -->
{% block main_content %}
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        
        <form id="receipt-data-upload-form" action="/operation/receipt/upload" enctype="multipart/form-data">
          
          <div class="input-group mb-3">
            <input type="file" class="form-control" id="xlsxReceiptFile" name="upload_file" accept=".xlsx" aria-describedby="xlsxReceiptFileLabel" required>
            <label class="input-group-text" for="xlsxReceiptFile" id="xlsxReceiptFileLabel">*.xlsx</label>
          </div>
          
          <button class="btn btn-primary">Upload</button>
          
        </form>

      </div>
    </div>
  </div>
</div>
{% endblock %}
<!-- [ Main Content ] end -->


<!-- [ Extra Script ] start -->
{% block extra_scripts %}

<script src="{{ request.url_for('static', path='js/plugins/choices.min.js') }}"></script>
<script src="{{ request.url_for('static', path='js/plugins/bouncer.min.js') }}"></script>
<script src="{{ request.url_for('static', path='js/pages/form-validation.js') }}"></script>
<script src="{{ request.url_for('static', path='js/plugins/sweetalert2.all.min.js') }}"></script>

<script>

  // Validate upload file
  $(function(){
    $('#xlsxReceiptFile').on('change', function(){
      const file = this.files[0];
      const $label = $('#xlsxReceiptFileLabel');

      if (!file) {
        $label
          .addClass("text-danger")
          .text('*.xlsx');
        return;
      }

      if (!file.name.toLowerCase().endsWith('.xlsx')) {

        $label
          .addClass("text-danger")
          .text('Upload *.xlsx only');

        this.value = '';
        return;
      }
      
      $label
        .removeClass("text-danger")
        .addClass("text-success")
        .text('*xlsx');
    });
  });

  $(function(){
    $('#receipt-data-upload-form').on('submit', function(e){
      e.preventDefault();

      const formData = new FormData(this);
      
      $.ajax({
        url: this.action,
        type: 'POST',
        data: formData,
        processData: false,  // tell jQuery not to touch the data
        contentType: false,  // tell jQuery not to set content-type
        
        success(resp) {
          
          Swal.fire('Uploaded!', `Receipt count: ${resp.inserted_count}, duplicated: ${resp.matched}, uploaded: ${resp.upserted}`, 'success').then(() => {
            window.location.reload();
          });
          
        },
        
        error(xhr) {
          Swal.fire('Upload failed', xhr.responseText || 'Error', 'error');
        }
      });

    });
  });




</script>
{% endblock %}
<!-- [ Extra Script ] end -->