<!-- Load template html -->
{% extends "./base.html" %}

{% set str_title = 'Stock' %}

<!-- Title -->
{% block title %} {{ str_title ~ ' | Haylà' }} {% endblock %}


<!-- [ breadcrumb ] start -->
{% block breadcrumb %}
<div class="col-md-12">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="javascript: void(0)">Operation</a></li>
    <li class="breadcrumb-item" aria-current="page">{{ str_title }}</li>
  </ul>
</div>

<div class="col-md-12">
  <div class="page-header-title">
    <h2 class="mb-0">{{ str_title }}</h2>
  </div>
</div>
{% endblock %}
<!-- [ breadcrumb ] end -->


<!-- [ Main Content ] start -->
{% block main_content %}

<!-- TAB NAME -->
{% set lst_tabname = ['input', 'summary', 'items'] %}

<ul class="nav nav-pills p-2" id="pills-tab" role="tablist">

  {% for tabname in lst_tabname %}

    <li class="nav-item">
      <a class="nav-link {{ 'active' if tabname == 'input' else '' }}" id="pills-{{ tabname }}-tab"
         data-bs-toggle="pill" href="#pills-{{ tabname }}" role="tab" aria-controls="pills-{{ tabname }}"
         aria-selected="true">
        
        {{ tabname | capitalize }}
        
      </a>
    </li>
  
  {% endfor %}

</ul>

<!-- TAB CONTENT -->
<div class="tab-content" id="pills-tabContent">

  {% for tabname in lst_tabname %}

    <div class="tab-pane fade show {{ 'active' if tabname == 'input' else '' }}" id="pills-{{ tabname }}" role="tabpanel" aria-labelledby="pills-{{ tabname }}-tab">

        {% if tabname == 'input' %}
          <div class="card">
            
            <div class="card-body">
              
              <form class="was-validated" id="form-stock">  
                <div class="form-group row">
                  
                  <div class="col-lg-6">
                    <select id="stock-method" class="form-select" required aria-label="select example">
                      <option value="">Tác vụ</option>
                      <option value="add">Nhập hàng</option>
                      <option value="get">Lấy hàng</option>
                      <option value="check">Kiểm kho</option>
                    </select>
                    <div class="invalid-feedback">Vui lòng chọn tác vụ</div>
                  </div>
              
                </div>
                
                <!-- --------------------------------------->
                <table class="table table-bordered align-middle">

                  <thead>
                    <tr>
                      <th style="width: 10%;">#</th>
                      <th>Item</th>
                      <th>Trong kho</th>
                      <th>Ngoài kho</th>
                    </tr>
                  </thead>

                  <tbody>
                    <!-- Row A -->
                    <tr>
                      <td class="text-center">
                        <input type="checkbox" class="toggle-row" data-target="#row-a-input">
                      </td>
                      <td>Option A</td>
                      <td>
                        <input type="number" id="row-a-input-1" class="form-control d-none" name="value_a1" placeholder="Value for A1" disabled required>
                      </td>
                      <td>
                        <input type="number" id="row-a-input-2" class="form-control d-none" name="value_a2" placeholder="Value for A2" disabled required>
                      </td>
                    </tr>

                    <!-- Row B -->
                    <tr>
                      <td class="text-center">
                        <input type="checkbox" class="toggle-row" data-target="#row-b-input">
                      </td>
                      <td>Option B</td>
                      <td>
                        <input type="number" id="row-b-input-1" class="form-control d-none"
                              name="value_b1" placeholder="Value for B1" disabled required>
                      </td>
                      <td>
                        <input type="number" id="row-b-input-2" class="form-control d-none"
                              name="value_b2" placeholder="Value for B2" disabled required>
                      </td>
                    </tr>



                    
                  </tbody>
                </table>

              </form>

            </div>
          </div>
        
        {% elif tabname == 'summary' %}

          {{ 'Here is '  ~ tabname }}

        
        {% else %}
          
          {{ 'Here is ' ~ tabname }}
        
        {% endif %}
      
    </div>

  {% endfor %}

</div>

{% endblock %}
<!-- [ Main Content ] end -->



{% block extra_scripts %}

<script src="{{ request.url_for('static', path='js/plugins/choices.min.js') }}"></script>
<script src="{{ request.url_for('static', path='js/plugins/bouncer.min.js') }}"></script>
<script src="{{ request.url_for('static', path='js/pages/form-validation.js') }}"></script>
<script src="{{ request.url_for('static', path='js/plugins/sweetalert2.all.min.js') }}"></script>
<script src="{{ request.url_for('static', path='js/plugins/jquery.dataTables.min.js') }}"></script>
<script src="{{ request.url_for('static', path='js/plugins/dataTables.bootstrap5.min.js') }}"></script>

<script>
$(function () {
  $('.toggle-row').on('change', function () {
    const $target1 = $(`${$(this).data('target')}-1`);
    const $target2 = $(`${$(this).data('target')}-2`);


    if (this.checked) {
      $target1.removeClass('d-none').prop('disabled', false);
      $target2.removeClass('d-none').prop('disabled', false);
    } else {
      $target1.addClass('d-none').prop('disabled', true);
      $target2.addClass('d-none').prop('disabled', true);
    }
  });
});



</script>


{% endblock %}







