/* Force true vertical + horizontal centering */
#inventory-items-modal .modal-dialog,
#pig-view-modal .modal-dialog,
#drink-view-modal .modal-dialog,
#drink-edit-modal .modal-dialog {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  min-height: 90vh;
}

/* make the content fill that space */
#inventory-items-modal .modal-content, 
#pig-view-modal .modal-content,
#drink-view-modal .modal-content,
#drink-edit-modal .modal-content {
  height: 90%;
  width: 95%;
}

/* ensure the body scrolls if content overflows */
#inventory-items-modal .modal-body, 
#pig-view-modal .modal-body,
#drink-view-modal .modal-body,
#drink-edit-modal .modal-body {
  overflow-y: auto;
}

#btnScrollTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 1000;
}

/* Make the “Show [ 10 ] entries” stay on one line */
.dataTables_length {
  display: flex !important;
  align-items: center;
  white-space: nowrap;
}

/* Keep the dropdown from stretching full width */
.dataTables_length select {
  display: inline-block !important;
  width: auto !important;
  margin: 0 .5rem;   /* a little breathing room */
}

/* make the search input span 100% of its wrapper */
.dataTables_filter input.form-control {
  width: 100% !important;
}

.dataTables_wrapper .dataTables_paginate {
  display: flex !important;
  justify-content: center;
  width: auto;
}




