<!-- Load template html -->
{% extends "./base.html" %}

<!-- Title -->
{% block title %}Users | Haylà{% endblock %}


<!-- [ breadcrumb ] start -->
{% block breadcrumb %}
<div class="col-md-12">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="javascript: void(0)">Administration</a></li>
    <li class="breadcrumb-item" aria-current="page">Users</li>
  </ul>
</div>

<div class="col-md-12">
  <div class="page-header-title">
    <h2 class="mb-0">Users</h2>
  </div>
</div>
{% endblock %}
<!-- [ breadcrumb ] end -->


<!-- [ Main Content ] start -->
{% block main_content %}
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">

        <div class="text-end p-4 pb-0">
          <a href="#" class="btn btn-primary d-inline-flex align-item-center" data-bs-toggle="modal" data-bs-target="#user-edit_add-modal">
            <i class="ti ti-plus f-18"></i> Add User
          </a>
        </div>

        <div class="table-responsive">
          <table class="table table-hover" id="pc-dt-users">

            <thead>
              <tr>
                <th>Name</th>
                <th>Actions</th>
              </tr>
            </thead>

            <tbody>

              {% for normal_user in normal_users %}

                <tr data-id="{{ normal_user.id }}" data-active="{{ normal_user.active }}">

                  <td>
                    <div class="row">
                      <div class="col">
                        <h5 class="mb-0">
                          <span class="badge {{ 'bg-blue-500' if normal_user.location == 'SGN' else 'bg-orange-500' }}">{{ normal_user.location }}</span>
                          {{ normal_user.firstname }} {{ normal_user.lastname }}
                        </h5>
                        <p class="text-muted f-12 mb-0">{{ normal_user.email }}</p>
                        <span class="text-muted f-12 mb-0">{{ normal_user.role }}</span>
                        <span class="badge badge-status bg-light-{{ 'success' if normal_user.active else 'warning' }} rounded-pill f-12">
                          {{ 'Active' if normal_user.active else 'Inactive' }}
                        </span>
                      </div>
                    </div>
                  </td>
                  
                  
                  <td>
                    
                    <div class="form-check form-switch mb-2">
                      <input type="checkbox" class="form-check-input input-primary status-btn" id="switch-active-user" {% if normal_user.active %}checked{% endif %} >
                    </div>
                    
                  </td>

                </tr>

              {% endfor %}
            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>
</div>





{% endblock %}
<!-- [ Main Content ] end -->



{% block extra_scripts %}
<script src="{{ request.url_for('static', path='js/plugins/sweetalert2.all.min.js') }}"></script>

<script>
  $(function() {
    $('#pc-dt-users').on('change', '.status-btn', function(e) {
      e.preventDefault();

      const btn = $(this);
      const row = btn.closest('tr');
      const user_id = row.data('id');
      const payload = {
        active: row.data('active'),
      };

      let timerInterval;
      Swal.fire({
        title: "Update User's status!",
        html: 'Please wait in <b>2</b> seconds.',
        showConfirmButton: false,
        timer: 2000,
        timerProgressBar: true,
        willOpen: () => {
          Swal.showLoading();
          timerInterval = setInterval(() => {
            
          }, 100);
        }
       
      }).then((result) => {
        
        $.ajax({
          url: `user/${user_id}/toggle_status`,
          type: 'POST',
          contentType: 'application/json',
          data: JSON.stringify(payload),

          success: function(resp) {

            row.data('active', resp.active);
            // const icon = btn.find('i');
            const badge = row.find('td span.badge.badge-status');

            if (resp.active == true) {

              badge
                .removeClass('bg-light-warning')
                .addClass('bg-light-success')
                .text('Active');
            } else {

              badge
                .removeClass('bg-light-success')
                .addClass('bg-light-warning')
                .text('Inactive');
            }

          },

          error: function(xhr, status, err) {
            console.error(xhr);
            console.error(status);
            console.error(err);
            alert('Could not update status. Please try again.');

          }

          

        });



      });


      
      
      
    });
  });
</script>
{% endblock %}



