<!-- Load template html -->
{% extends "./base.html" %}
{% set str_title = 'Dashboard' %}

<!-- Title -->
{% block title %} {{ str_title ~ ' | Haylà' }} {% endblock %}

<!-- [ breadcrumb ] start -->
{% block breadcrumb %}
<div class="col-md-12">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="javascript: void(0)">{{ str_title }}</a></li>
    <li class="breadcrumb-item" aria-current="page">Index</li>
  </ul>
</div>

<div class="col-md-12">
  <div class="page-header-title">
    <h2 class="mb-0">{{ str_title }}</h2>
  </div>
</div>

{% endblock %}
<!-- [ breadcrumb ] end -->


<!-- [ Main Content ] start -->
{% block main_content %}

<!-- [ Filtering Area ] start -->
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      
      <div class="card-header">
        <h5>Dashboard Filtering</h5>
      </div>
      
      <div class="card-body">
        <form id="form-dashboard-filter">
          
          {% set id_locs_elm = 'dashboard-filter-locs' %}
          {% set id_date_elm = 'dashboard-filter-date' %}

          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="col-form-label">Location</label>
                <select class="form-control" name="{{ id_locs_elm }}" id="{{ id_locs_elm }}" multiple required>
                  <option value="SGN">SGN</option>
                  <option value="NTR">NTR</option>
                </select>
                <small class="form-text text-muted">Please enter location</small>
              </div>
            </div>
          
            <div class="col-lg-6">
              <div class="form-group">
                <label class="col-form-label">Date</label>
                <div class="input-group">
                  <input type="text" id="{{ id_date_elm }}" class="form-control" placeholder="Select date range">
                  <span class="input-group-text"><i class="feather icon-calendar"></i></span>
                </div>
              </div>
            </div>
          
          </div>
          
          <div class="row mt-3">
            <div class="col text-end">
              <button id="btn-submit-filter" class="btn btn-primary">Submit</button>
            </div>
          </div>

          
        </form>
      </div>
    </div>
  </div>
</div>
<!-- [ Filtering Area ] end -->

<!-- [ Dashboard main content ] start -->
<div class="row">
  
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h5 class="mb-0">General</h5>
  </div>

  <div class="col-md-6 col-xl-3">
    <div class="card">
      <div id="dashboard-revenue" class="card-body">
        <h6 class="mb-2 f-w-400 text-muted">Revenue</h6>
        <div>
          <h4 class="mb-3">[xx,xxx,xxx] <span class="badge bg-light-secondary border border-secondary">
          <i class="ti ti-trending-up"></i> xx </span></h4>
          <p class="mb-0 text-muted text-sm">You made an extra <b>[xx,xxx,xxx]</b> last period</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-3">
    <div class="card">
      <div id="dashboard-directcost" class="card-body">
        <h6 class="mb-2 f-w-400 text-muted">Direct Cost</h6>
        <h4 class="mb-3">[xx,xxx,xxx] <span class="badge bg-light-secondary border border-secondary">
        <i class="ti ti-trending-up"></i> xx </span></h4>
        <p class="mb-0 text-muted text-sm">You made an extra <b>[xx,xxx,xxx]</b> last period</p>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-3">
    <div class="card">
      <div id="dashboard-fixedcost" class="card-body">
        <h6 class="mb-2 f-w-400 text-muted">Fixed Cost</h6>
        <h4 class="mb-3">[xx,xxx,xxx] <span class="badge bg-light-secondary border border-secondary">
        <i class="ti ti-trending-up"></i> xx </span></h4>
        <p class="mb-0 text-muted text-sm">You made an extra <b>[xx,xxx,xxx]</b> last period</p>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-3">
    <div class="card">
      <div id="dashboard-netprofit" class="card-body">
        <h6 class="mb-2 f-w-400 text-muted">Net Profit</h6>
        <h4 class="mb-3">[xx,xxx,xxx] <span class="badge bg-light-secondary border border-secondary">
        <i class="ti ti-trending-up"></i> xx </span></h4>
        <p class="mb-0 text-muted text-sm">You made an extra <b>[xx,xxx,xxx]</b> last period</p>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-xl-12">
    
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h5 class="mb-0">Revenue & Direct Cost</h5>
    </div>

    <div class="card">
      <div class="card-body">
        <div id="chart-revenue-direct-cost"></div>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-xl-12">
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h5 class="mb-0">Raw Ingredients Usage</h5>
    </div>

    <div class="card">
      <div class="card-body">
        <div id="container-rig-usage" class="dt-responsive table-responsive"></div>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-xl-12">
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h5 class="mb-0">Drinks Summary</h5>
    </div>
    
    <div class="card">
      <div class="card-body">
        <div id="container-drk-summary" class="dt-responsive table-responsive"></div>
      </div>
    </div>
  </div>

  <!-- <div class="col-md-12 col-xl-6">
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h5 class="mb-0">Drinks Margin</h5>
    </div>
    
    <div class="card">
      <div class="card-body">
        <div id="container-drk-margin" class="dt-responsive table-responsive"></div>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-xl-6">
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h5 class="mb-0">Drinks Sales Quantity</h5>
    </div>

    <div class="card">
      <div class="card-body">
        <div id="container-drk-qty" class="dt-responsive table-responsive"></div>
      </div>
    </div>
  </div> -->
  
</div>
<!-- [ Dashboard main content ] end -->






<!-- DEMO----------------------------------------------------------------------------------------------------------------------------------------------- -->
<div class="row">
  
  <div class="col-md-12 col-xl-8">
    
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h5 class="mb-0">Unique Visitor</h5>
      <ul class="nav nav-pills justify-content-end mb-0" id="chart-tab-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="chart-tab-home-tab" data-bs-toggle="pill" data-bs-target="#chart-tab-home"
            type="button" role="tab" aria-controls="chart-tab-home" aria-selected="true">Month</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="chart-tab-profile-tab" data-bs-toggle="pill"
            data-bs-target="#chart-tab-profile" type="button" role="tab" aria-controls="chart-tab-profile"
            aria-selected="false">Week</button>
        </li>
      </ul>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="tab-content" id="chart-tab-tabContent">
          <div class="tab-pane" id="chart-tab-home" role="tabpanel" aria-labelledby="chart-tab-home-tab"
            tabindex="0">
            <div id="visitor-chart-1"></div>
          </div>
          <div class="tab-pane show active" id="chart-tab-profile" role="tabpanel"
            aria-labelledby="chart-tab-profile-tab" tabindex="0">
            <div id="visitor-chart"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
    
  <div class="col-md-12 col-xl-4">
    <h5 class="mb-3">Income Overview</h5>
    <div class="card">
      <div class="card-body">
        <h6 class="mb-2 f-w-400 text-muted">This Week Statistics</h6>
        <h3 class="mb-3">$7,650</h3>
        <div id="income-overview-chart"></div>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-xl-8">
    <h5 class="mb-3">Recent Orders</h5>
    <div class="card tbl-card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover table-borderless mb-0">
            <thead>
              <tr>
                <th>TRACKING NO.</th>
                <th>PRODUCT NAME</th>
                <th>TOTAL ORDER</th>
                <th>STATUS</th>
                <th class="text-end">TOTAL AMOUNT</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="#" class="text-muted">84564564</a></td>
                <td>Camera Lens</td>
                <td>40</td>
                <td><span class="d-flex align-items-center gap-2"><i
                      class="fas fa-circle text-danger f-10 m-r-5"></i>Rejected</span>
                </td>
                <td class="text-end">$40,570</td>
              </tr>
              <tr>
                <td><a href="#" class="text-muted">84564564</a></td>
                <td>Laptop</td>
                <td>300</td>
                <td><span class="d-flex align-items-center gap-2"><i
                      class="fas fa-circle text-warning f-10 m-r-5"></i>Pending</span>
                </td>
                <td class="text-end">$180,139</td>
              </tr>
              <tr>
                <td><a href="#" class="text-muted">84564564</a></td>
                <td>Mobile</td>
                <td>355</td>
                <td><span class="d-flex align-items-center gap-2"><i
                      class="fas fa-circle text-success f-10 m-r-5"></i>Approved</span></td>
                <td class="text-end">$180,139</td>
              </tr>
              <tr>
                <td><a href="#" class="text-muted">84564564</a></td>
                <td>Camera Lens</td>
                <td>40</td>
                <td><span class="d-flex align-items-center gap-2"><i
                      class="fas fa-circle text-danger f-10 m-r-5"></i>Rejected</span>
                </td>
                <td class="text-end">$40,570</td>
              </tr>
              <tr>
                <td><a href="#" class="text-muted">84564564</a></td>
                <td>Laptop</td>
                <td>300</td>
                <td><span class="d-flex align-items-center gap-2"><i
                      class="fas fa-circle text-warning f-10 m-r-5"></i>Pending</span>
                </td>
                <td class="text-end">$180,139</td>
              </tr>
              <tr>
                <td><a href="#" class="text-muted">84564564</a></td>
                <td>Mobile</td>
                <td>355</td>
                <td><span class="d-flex align-items-center gap-2"><i
                      class="fas fa-circle text-success f-10 m-r-5"></i>Approved</span></td>
                <td class="text-end">$180,139</td>
              </tr>
              <tr>
                <td><a href="#" class="text-muted">84564564</a></td>
                <td>Camera Lens</td>
                <td>40</td>
                <td><span class="d-flex align-items-center gap-2"><i
                      class="fas fa-circle text-danger f-10 m-r-5"></i>Rejected</span>
                </td>
                <td class="text-end">$40,570</td>
              </tr>
              <tr>
                <td><a href="#" class="text-muted">84564564</a></td>
                <td>Laptop</td>
                <td>300</td>
                <td><span class="d-flex align-items-center gap-2"><i
                      class="fas fa-circle text-warning f-10 m-r-5"></i>Pending</span>
                </td>
                <td class="text-end">$180,139</td>
              </tr>
              <tr>
                <td><a href="#" class="text-muted">84564564</a></td>
                <td>Mobile</td>
                <td>355</td>
                <td><span class="d-flex align-items-center gap-2"><i
                      class="fas fa-circle text-success f-10 m-r-5"></i>Approved</span></td>
                <td class="text-end">$180,139</td>
              </tr>
              <tr>
                <td><a href="#" class="text-muted">84564564</a></td>
                <td>Mobile</td>
                <td>355</td>
                <td><span class="d-flex align-items-center gap-2"><i
                      class="fas fa-circle text-success f-10 m-r-5"></i>Approved</span></td>
                <td class="text-end">$180,139</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-xl-4">
    <h5 class="mb-3">Analytics Report</h5>
    <div class="card">
      <div class="list-group list-group-flush">
        <a href="#"
          class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">Company
          Finance Growth<span class="h5 mb-0">+45.14%</span></a>
        <a href="#"
          class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">Company
          Expenses Ratio<span class="h5 mb-0">0.58%</span></a>
        <a href="#"
          class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">Business
          Risk Cases<span class="h5 mb-0">Low</span></a>
      </div>
      <div class="card-body px-2">
        <div id="analytics-report-chart"></div>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-xl-8">
    <h5 class="mb-3">Sales Report</h5>
    <div class="card">
      <div class="card-body">
        <h6 class="mb-2 f-w-400 text-muted">This Week Statistics</h6>
        <h3 class="mb-0">$7,650</h3>
        <div id="sales-report-chart"></div>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-xl-4">
    <h5 class="mb-3">Transaction History</h5>
    <div class="card">
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action">
          <div class="d-flex">
            <div class="flex-shrink-0">
              <div class="avtar avtar-s rounded-circle text-success bg-light-success">
                <i class="ti ti-gift f-18"></i>
              </div>
            </div>
            <div class="flex-grow-1 ms-3">
              <h6 class="mb-1">Order #002434</h6>
              <p class="mb-0 text-muted">Today, 2:00 AM</P>
            </div>
            <div class="flex-shrink-0 text-end">
              <h6 class="mb-1">+ $1,430</h6>
              <p class="mb-0 text-muted">78%</P>
            </div>
          </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          <div class="d-flex">
            <div class="flex-shrink-0">
              <div class="avtar avtar-s rounded-circle text-primary bg-light-primary">
                <i class="ti ti-message-circle f-18"></i>
              </div>
            </div>
            <div class="flex-grow-1 ms-3">
              <h6 class="mb-1">Order #984947</h6>
              <p class="mb-0 text-muted">5 August, 1:45 PM</P>
            </div>
            <div class="flex-shrink-0 text-end">
              <h6 class="mb-1">- $302</h6>
              <p class="mb-0 text-muted">8%</P>
            </div>
          </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          <div class="d-flex">
            <div class="flex-shrink-0">
              <div class="avtar avtar-s rounded-circle text-danger bg-light-danger">
                <i class="ti ti-settings f-18"></i>
              </div>
            </div>
            <div class="flex-grow-1 ms-3">
              <h6 class="mb-1">Order #988784</h6>
              <p class="mb-0 text-muted">7 hours ago</P>
            </div>
            <div class="flex-shrink-0 text-end">
              <h6 class="mb-1">- $682</h6>
              <p class="mb-0 text-muted">16%</P>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

</div>


{% endblock %}
<!-- [ Main Content ] end -->

{% block charting_scripts %}
  <!-- [Page Specific JS] start -->
  <script src="{{ request.url_for('static', path='js/plugins/apexcharts.min.js') }}"></script>
  <script src="{{ request.url_for('static', path='js/pages/dashboard-default.js') }}"></script>
  <!-- [Page Specific JS] end -->
{% endblock %}


{% block extra_scripts %}
  <script src="{{ request.url_for('static', path='js/plugins/choices.min.js') }}"></script>
  <script src="{{ request.url_for('static', path='js/plugins/bouncer.min.js') }}"></script>
  <script src="{{ request.url_for('static', path='js/pages/form-validation.js') }}"></script>
  <script src="{{ request.url_for('static', path='js/plugins/sweetalert2.all.min.js') }}"></script>
  <script src="{{ request.url_for('static', path='js/plugins/flatpickr.min.js') }}"></script>
  <script src="{{ request.url_for('static', path='js/plugins/jquery.dataTables.min.js') }}"></script>
  <script src="{{ request.url_for('static', path='js/plugins/dataTables.bootstrap5.min.js') }}"></script>

  <script>
    const id_locs_elm = 'dashboard-filter-locs';
    const id_date_elm = 'dashboard-filter-date';

    var editDrinkLocation = new Choices(`#${id_locs_elm}`, {
      placeholderValue: 'Location',
      searchPlaceholderValue: 'Search',
      allowHTML: true,
      removeItemButton: true,
      shouldSort: false,
      shouldSortItems: false,
      maxItemCount: 2
    });

    flatpickr(document.querySelector(`#${id_date_elm}`),{
      mode: 'range'
    });

    


    $(function(){
      $('#btn-submit-filter').on('click', function(e){
        e.preventDefault();
        
        const $fil_loc = $(`#${id_locs_elm}`);
        const $fil_date = $(`#${id_date_elm}`);
        const $btn_submit = $(this);
        
        if (!$fil_loc.val()?.length) {
          Swal.fire('Please choose location', '', 'error');
          return;
        }
        
        if (!$fil_date.val()?.length) {
          Swal.fire('Please choose date', '', 'error');
          return;
        }
        
        $btn_submit.prop('disabled', true).text('Processing…');
        
        if ($fil_date.val().includes(" to ")) {

          var [startStr, endStr] = $fil_date.val().split(" to ").map(s => s.trim());

        }
        else {
          var [startStr, endStr] = [$fil_date.val(), $fil_date.val()];
        }

        const dboard_filter_input = {
          Location: $fil_loc.val(),
          Payment_Time: [startStr, endStr]
        };
        
        let timerInterval;

        Swal.fire({
          title: 'Processing...',
          html: 'Please wait for <b></b> seconds.',
          timer: 5000,               // 5 seconds total
          timerProgressBar: true,
          allowOutsideClick: false,
          didOpen: () => {
            Swal.showLoading();      // optional spinner
            
            $.ajax({
              url: '/dashboard/filter',
              method: 'POST',
              contentType: 'application/json',
              data: JSON.stringify(dboard_filter_input),
              
              success: function(response) {
                console.log('Filter applied:', response);
                //ChartRevDcost
                
                setTimeout(() => {
                  
                  ['Revenue', 'DirectCost', 'FixedCost', 'NetProfit'].forEach(item => {
                  
                  const prev_val = response.Previous[item];
                  const curr_val = response.Current[item];
                  var delta_val = 0;
                  
                  if (prev_val != 0) {
                    delta_val = (curr_val - prev_val) / Math.abs(prev_val) * 100;
                  }
                  
                  let txt_color = '';
                  let txt_icon = '';

                  if (delta_val < 0) {
                    txt_color = 'danger';
                    txt_icon = 'ti ti-trending-down';

                  }
                  else if (delta_val > 0) {
                    txt_color = 'success';
                    txt_icon = 'ti ti-trending-up';
                  
                  }
                  else {
                    txt_color = 'secondary';
                    txt_icon = '';
                  
                  }
                  
                  $(`#dashboard-${item.toLowerCase()}`).html(`
                    <h6 class="mb-2 f-w-400 text-muted">${item}</h6>

                    <h4 class="mb-3"> ${Number(Math.round(curr_val)).toLocaleString('en-US')} 
                      <span class="badge bg-light-${txt_color} border border-${txt_color}">
                      <i class="${txt_icon}"></i> ${Number(Math.round(delta_val))} % </span>
                    </h4>
                    
                    <p class="mb-0 text-muted text-sm">You made <span class="text-muted">${Number(Math.round(prev_val)).toLocaleString('en-US')}</span> last period ${response.Previous.Period}</p>
                    
                    `);
                  
                });

                  var options = {
                    chart: {
                      height: 450,
                      type: 'line',
                      toolbar: {show: false}
                    },
                    dataLabels: {enabled: false},
                    colors: response.ChartRevDcost.Colors,
                    series: response.ChartRevDcost.Series,
                    stroke: {curve: 'smooth', width: 2},
                    fill: {opacity: [0.35, 0.35, 0.35, 1]},
                    xaxis: response.ChartRevDcost.Xaxis,
                    yaxis: {
                      labels: {
                        formatter: function (val) {
                          if (Math.abs(val) >= 1e6) {
                            return (val / 1e6).toFixed(1) + 'M';
                          }
                          if (Math.abs(val) >= 1e3) {
                            return (val / 1e3).toFixed(0) + 'K';
                          }
                          return val.toLocaleString('en-US');
                        },
                      },
                    }
                  };
                  
                  var chart_revenue_direct_cost = new ApexCharts(document.querySelector('#chart-revenue-direct-cost'), options);
                  chart_revenue_direct_cost.render();
                  
                  $('#container-rig-usage').html(response.HTML_RawIngredientUsage);
                  
                  $('#container-drk-summary').html(response.HTML_DrinkSummary);
                  
                  const $dt_rig_usage = $('#dt-rig-usage').DataTable({
                    dom:
                      "<'row g-2 p-2 mb-3'" +
                      "<'col-sm-8'l>" +   // length menu here
                      "<'col-sm-4'f>" +   // filter input here
                      ">" +
                      "t" +                 // the table itself
                      "<'row g-2 p-2 mt-3'" +
                        "<'col-sm-8'i>" +   // table info here
                        "<'col-sm-4'p>" +   // pagination here
                      ">",
                    order: [[3, 'desc']],
                    language: {
                      lengthMenu: 'Show _MENU_ entries',
                      search: '',
                      searchPlaceholder: 'Search…',
                      paginate: {
                        first:    '<i class="ti ti-chevrons-left"></i>',
                        previous: '<i class="ti ti-chevron-left"></i>',
                        next:     '<i class="ti ti-chevron-right"></i>',
                        last:     '<i class="ti ti-chevrons-right"></i>'
                      }
                    },
                    pageLength: 10,
                  });

                  const $dt_drk_summary = $('#dt-drk-summary').DataTable({
                    dom:
                      "<'row g-2 p-2 mb-3'" +
                      "<'col-sm-8'l>" +   // length menu here
                      "<'col-sm-4'f>" +   // filter input here
                      ">" +
                      "t" +                 // the table itself
                      "<'row g-2 p-2 mt-3'" +
                        "<'col-sm-8'i>" +   // table info here
                        "<'col-sm-4'p>" +   // pagination here
                      ">",
                    order: [[3, 'desc']],
                    language: {
                      lengthMenu: 'Show _MENU_ entries',
                      search: '',
                      searchPlaceholder: 'Search…',
                      paginate: {
                        first:    '<i class="ti ti-chevrons-left"></i>',
                        previous: '<i class="ti ti-chevron-left"></i>',
                        next:     '<i class="ti ti-chevron-right"></i>',
                        last:     '<i class="ti ti-chevrons-right"></i>'
                      }
                    },
                    pageLength: 10,
                  });


                  $('.dataTables_length select').addClass('form-select form-select-sm');
                  $('.dataTables_filter label').addClass('d-flex justify-content-end');
                  $('.dataTables_filter input').addClass('form-control form-control-sm');
                  
                }, 3000);
                
              },
              
              error: function(xhr, status, err) {
                // console.error('Filter error:', xhr, status, err);

                Swal.fire('Dashborad filter failed', xhr.responseJSON?.detail || 'Error', 'error');
              },
              
              complete: function() {
                $btn_submit.prop('disabled', false).text('Submit');
              },
              
            });

            // grab the <b> in the html and start a small interval
            const b = Swal.getHtmlContainer().querySelector('b');
            b.textContent = Math.ceil(Swal.getTimerLeft()/1000);

            timerInterval = setInterval(() => {
              const t = Swal.getTimerLeft();
              // update the bolded seconds
              b.textContent = Math.ceil(t/1000);
            }, 100);
          },
          willClose: () => {
            clearInterval(timerInterval);
          }

        })
        .then((result) => {
          if (result.dismiss === Swal.DismissReason.timer) {
            Swal.fire('Successful filter!', '', 'success');
          }
        });
        
        
      });
    });


    


  </script>

{% endblock %}










